In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

**GENERATE A DATA FRAME NAMED 'df' WITH SIZE (4,3), NUMBERS FROM 1 TO 9, AND LAST ROW CONSISTS OF NAN VALUES, COLUMN NAMES 'A', 'B', 'C'

**RETURN SUM AND MIN VALUES TOGETHER FOR EACH COLUMN IN df

- more than one arguments is placed in a container.

**RETURN SUM OF EACH COLUMN AS A SERIES IN df

**RETURN SUM OF EACH COLUMN AS A DATA FRAME IN df

**RETURN SUM AND MIN VALUES FOR COLUMN A, MIN AND MAX VALUES FOR COLUMN B IN df

**RETURN MAX VALUE FOR COLUMN A, MIN VALUE FOR COLUMN B AND MEAN VALUE FOR COLUMN C IN df

**CALCULATE THE MEAN VALUE OF AXIS 1 FOR df

In [ ]:
df = pd.DataFrame([[1,1,0.362],
                 [1,2, 0.227],
                 [2,3,1.267],
                 [2,4,-0.562]], 
                 columns = ["A", "B", "C"])

df

**GROUP df BY COLUMN A AND RETURN THE MIN VALUES FOR IT

**GROUP df BY COLUMN A AND RETURN MIN VALUE FOR B COLUMN

**GROUP df BY COLUMN A AND RETURN MIN AND MAX VALUES FOR EACH COLUMNS

**GROUP df BY COLUMN A AND RETURN MIN AND MAX VALUES FOR COLUMN B, SUM OF COLUMN C

- if we are using more than one columns as arguments we use dictionary type

In [ ]:
df = pd.DataFrame(np.random.randint(0, 100, size=(7, 5)), 
                  columns=["x1", "x2", "x3", "x4", "x5"])
df

**COUNT THE NUMBER OF CELLS FOR EACH COLUMN IN df

**COUNT THE NUMBER OF CELLS FOR x1 COLUMN IN df

**CALCULATE THE MEAN OF EACH FEATURE IN df

In [ ]:
dfNaN = pd.DataFrame([[1,2,3],
                 [4,5,6],
                 [7,8,9],
                 [np.nan, np.nan, np.nan]], 
                 columns = ["A", "B", "C"])
dfNaN

**CALCULATE THE MEAN OF EACH COLUMN IN dfNaN INCLUDING NaN VALUES

- if we make a mathematical calculation with a NaN value result is always NaN

**CALCULATE MEDIAN OF x3 COLUMN IN df

**CALCULATE MEAN OF COLUMN x1 IN df

**RETURN MIN VALUE OF COLUMN x5 IN df

**RETURN THE INDEX OF FIRST MIN VALUE FOR EACH COLUMN IN df

**RETURN THE INDEX OF FIRST MAX VALUE FOR EACH COLUMN IN df

- ARGMIN AND ARGMAX DOES NOT WORK ON DATA FRAMES, THEY WORK ON ONE DIMENSIONAL OBJECTS

**RETURN THE VALUES OF THE ROWS FOR THE INDEXES OF FIRST MIN VALUE FOR EACH COLUMN

- we use index min/max for dropping outliers

**CALCULATE STANDART DEVIATION OF x1 AND x2 COLUMNS OF df

**CALCULATE VARIATION OF x1 AND x2 COLUMNS OF df

**CALCULATE SUM OF AXIS 1 OF df

**GENERATE DESCRIPTIVE STATISTICS OF df AND TRANSPOSE IT

- transpose of describe is useful when there are too much columns

In [ ]:
data = {'Company':['GOOG', 'GOOG', 'MSFT', 'MSFT', 'GOOG', 'MSFT', 'GOOG', 'MSFT'],
        'Department':['HR', 'IT', 'IT', 'HR', 'HR', 'IT', 'IT', 'HR'],
        'Person':['Sam', 'Charlie', 'Amy', 'Vanessa', 'Carl', 'Sarah', 'Tom', 'Terry'],
        'Age':[30, 28, 35, 40, 42, 25, 32, 48],
        'Sales':[200, 120, 340, 124, 243, 350, 180, 220]}

In [ ]:
df1 = pd.DataFrame(data)
df1

**CALCULATE MEAN FOR EACH COMPANY IN df1

**CALCULATE AVERAGE SALES FOR EACH Company IN df1

**GROUP df1 BY FEATURE Company AND CALCULATE MEAN OF SALES AS A DATA FRAME

**FIND YOUNGEST EMPLOYEES FOR EACH COMPANY IN df1

**CALCULATE THE AVERAGE VALUES OF NUMERIC FEATURES FOR EACH COMPANY IN df1

**HOW MANY EMPLOYEES ARE WORKING FOR EACH COMPANY IN df1?

**CALCULATE THE AVERAGE VALUES OF NUMERIC COLUMNS FOR THE DEPARTMENTS OF COMPANIES IN df1

**CALCULATE SALES AVERAGES OF DEPARTMENTS OF COMPANIES IN df1

**GENERATE DESCRIPTIVE STATISTICS OF SALES OF DEPARTMENTS OF COMPANIES IN df1

In [ ]:
df2 = pd.DataFrame({'groups': ['A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C'],
                   'var1': [10, 23, 33, 22, 11, 99, 76, 84, 45],
                   'var2': [100, 253, 333, 262, 111, 969, 405, 578, 760]})
df2

**CALCULATE SUM AND FIND MIN VALUES FOR EACH COLUMNS IN df2

**CALCULATE SUM AND FIND MIN VALUES FOR COLUMNS var1 AND var2

**CALCULATE SUM FOR COLUMN var1 AND FIND MIN VALUE FOR COLUMN var2

**CALCULATE SUM AND MEAN FOR COLUMN var1 AND FIND MIN AND MAX VALUES FOR COLUMN var2

- we can't write just mean for mean calculations, we write np.mean, because mean is not a function defined in python
- if we put mean inside quotes it works for pandas because mean is defined in pandas

**FIND MIN AND MAX VALUES AND CALCULATE MEDIAN FOR EACH GROUP IN df2

**FIND MIN AND MAX VALUES FOR EACH GROUP IN df2

**FIND MIN AND MAX VALUES OF var1 AND var2 COLUMNS FOR EACH GROUP IN df2

- is filter and selection same?
- by using regex and like we can make extra filtering

**RETURN COLUMNS NAME STARTING WITH 'var' IN df2

**RETURN COLUMNS NAME INCLUDING 'var' IN df2

**CALCULATE SUM OF COLUMN var2 OF EACH GROUPS

**WHICH GROUP'S SUM OF COLUMN var2 IS GREATER THAN 800 IN df2

**RETURN THE GROUPS THAT ARE

**RETURN ALL THE ROWS AND var1 AND var2 COLUMNS WITH iloc AND ASSIGN IT TO df_num

**ADD 10 TO ALL VALUES IN df_num, USE TRANSFORM AND LAMBDA

**CALCULATE SQUARE ROOT AND EXPONENTIATION OF var1 COLUMN OF df_num WITH TRANSFORM

- transform works on single column and generates new features
- transform is used for feature engineering

**DEFINE Z SCORE AS A LAMBDA FUNCTION AND CALCULATE Z SCORE OF EACH VALUE IN df_num

**CALCULATE MEAN OF COLUMN var1 FOR EACH GROUP IN df2 AND RETURN THE RESULT FOR EACH ROW AND ASSIGN IT AS A NEW COLUMN